@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

body {
  line-height: normal;
  letter-spacing: normal;
}

/*==========header===============*/
.header {
  background: url(../image/TOP_BG.jpg);
  background-size: cover;
  padding: 55px 20px 150px 20px;
}

.header__menu {
  background: #fff;
  max-width: 924px;
  padding: 25px;
}

.header__container {
  max-width: 1330px;
  margin: 0 auto;
}

/*header__menu*/
.menu-top {
  display: flex;
  align-items: center;
  font-size: 15px;
}
.menu-top .header__mail, .menu-top .header__launge {
  display: flex;
  align-items: center;
}
.menu-top .header__mail img, .menu-top .header__launge img {
  margin-right: 10px;
  padding: 10px;
  border: 2px solid rgba(179, 173, 173, 0.514);
  border-radius: 20px;
}

.header__logo {
  margin-right: 80px;
}

.header__mail {
  margin-right: 25px;
}

.menu-bottom {
  margin-top: 40px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.menu-bottom .start-menu ul {
  display: flex;
  align-items: center;
}
.menu-bottom .start-menu ul li {
  margin-right: 43px;
}
.menu-bottom .start-menu select {
  font-weight: bold;
}

.start-messengers {
  display: flex;
  align-items: center;
}
.start-messengers img {
  width: 25px;
  margin-right: 8px;
}

/*header__text*/
.header__text {
  margin-top: 15%;
  color: #fff;
  max-width: 550px;
  font-size: 18px;
  letter-spacing: 0.84px;
}
.header__text .orange-line {
  margin: 20px 0;
}
.header__text h2 {
  font-size: 42px;
  font-family: "Gotham - Book";
}
.header__text h3 {
  font-size: 42px;
  font-weight: bold;
  line-height: 58px;
}
.header__text p {
  font-family: "Gotham - Thin";
  opacity: 0.5;
  margin: 32px 0;
}

.top-button button {
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 20px;
}
.top-button .orange-button {
  width: 158px;
  height: 41px;
  background-color: #eb5635;
  margin-right: 10px;
}
.top-button .white-button {
  width: 193px;
  height: 41px;
  background-color: #ffffff;
  color: #000;
}

@media (max-width: 1140px) {
  .header__text {
    margin-top: 5%;
  }

  .header {
    padding: 20px;
  }
}
@media (max-width: 960px) {
  .menu-top {
    font-size: 12px;
  }
  .menu-top .header__mail img {
    width: 20px;
    padding: 5px;
  }
  .menu-top .header__launge img {
    width: 20px;
    padding: 5px;
  }

  .header__logo img {
    width: 220px;
  }

  .menu-bottom {
    flex-wrap: wrap;
  }

  .start-messengers {
    margin: 0 auto;
    margin-top: 20px;
  }

  .start-menu {
    font-size: 12px;
  }
  .start-menu select {
    font-size: 12px;
  }
  .start-menu ul li {
    margin: 0 10px 0 0;
  }

  .header__text h2 {
    font-size: 32px;
  }
  .header__text h3 {
    font-size: 32px;
  }
  .header__text p {
    font-size: 16px;
    margin: 15px 0 20px 0;
  }

  .top-button button {
    font-size: 12px;
  }
  .top-button .orange-button {
    width: 108px;
    height: 31px;
  }
  .top-button .white-button {
    width: 113px;
    height: 31px;
  }
}
@media (max-width: 720px) {
  .header__menu {
    padding: 10px;
  }

  .header__logo img {
    max-width: 120px;
  }

  .menu-top {
    font-size: 8px;
  }
  .menu-top .header__mail img {
    width: 19px;
  }
  .menu-top .header__launge img {
    width: 19px;
  }
  .menu-top .header__launge select {
    font-size: 8px;
  }
  .menu-top .header__logo {
    margin-right: 50px;
  }

  .start-menu {
    font-size: 6px;
  }
  .start-menu select {
    font-size: 6px;
  }
  .start-menu ul li {
    margin-right: 10px;
  }

  .menu-bottom {
    margin-top: 20px;
  }
  .menu-bottom .start-menu ul li {
    margin-right: 15px;
  }
  .menu-bottom .start-menu select {
    font-weight: bold;
  }

  .header__text h2 {
    font-size: 22px;
  }
  .header__text h3 {
    font-size: 22px;
  }
  .header__text p {
    font-size: 12px;
    margin: 15px 0 20px 0;
  }
  .header__text .orange-line {
    margin: 5px 0;
  }

  .start-messengers {
    margin: 0;
  }
  .start-messengers img {
    max-width: 12px;
  }
}
@media (max-width: 540px) {
  .header__menu {
    padding: 5px;
  }

  .menu-top {
    font-size: 6px;
  }
  .menu-top .header__mail img {
    padding: 5px;
  }
  .menu-top .header__launge img {
    padding: 5px;
  }
  .menu-top .header__launge select {
    font-size: 6px;
  }
  .menu-top .header__logo {
    margin-right: 10px;
  }
  .menu-top .header__logo img {
    width: 45px;
  }

  .menu-bottom .start-menu {
    font-size: 6px;
  }
  .menu-bottom .start-menu ul li {
    margin-right: 5px;
  }
}
/*======================MAIN===============*/
main {
  background: #eeeeee;
}

/*homefront*/
.homefront {
  background: url(../image/icon/Background-HOMEFRONT.jpg);
  background-size: cover;
  height: 608px;
  position: relative;
  padding: 10px;
  line-height: normal;
  letter-spacing: 0.84px;
}
.homefront .homefront__text {
  max-width: 540px;
  position: absolute;
  top: 20%;
  right: 10%;
}
.homefront .homefront__text h2 {
  font-size: 42px;
  color: #686868;
}
.homefront .homefront__text .orange-line2 {
  margin: 10px 0;
}
.homefront .homefront__text h3 {
  color: #4f4f4f;
  font-size: 42px;
  font-weight: 700;
}
.homefront .homefront__text p {
  font-size: 18px;
  opacity: 0.5;
  letter-spacing: 0.36px;
  margin: 30px 0;
}
.homefront .homefront__button button {
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 20px;
}
.homefront .homefront__button .orange-button {
  width: 158px;
  height: 41px;
  background-color: #eb5635;
  margin-right: 10px;
}
.homefront .homefront__button .white-button {
  width: 193px;
  height: 41px;
  background-color: #ffffff;
  color: #000;
  border: 1px solid #6868687a;
}

@media (max-width: 760px) {
  .homefront {
    height: 440px;
  }
  .homefront .homefront__text {
    top: 5%;
    left: 5%;
  }
  .homefront .homefront__text h2 {
    font-size: 30px;
  }
  .homefront .homefront__text h3 {
    font-size: 30px;
  }
  .homefront .homefront__text p {
    font-size: 14px;
  }
}
/*=======================absolute===============*/
.absolute__container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0);
  position: relative;
  top: -90px;
}

.absolute__bone {
  width: 510px;
  position: relative;
}

.bone__text {
  padding: 44px;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  line-height: normal;
}
.bone__text h2 {
  font-size: 28px;
  color: #4b4b4b;
  font-weight: 300;
  margin-bottom: 26px;
}
.bone__text p {
  font-size: 17px;
  color: #b1b1b1;
  margin-bottom: 32px;
}
.bone__text .action, .bone__text .kids {
  margin-bottom: 26px;
  font-size: 18px;
  color: #eb5635;
  font-weight: 700;
}
.bone__text .action span, .bone__text .kids span {
  font-weight: 300;
  border: 2px solid orangered;
  border-radius: 50%;
  margin-right: 15px;
  padding: 8px 13px;
}
.bone__text .kids {
  margin-bottom: 105px;
}

/**/
.absolute__button {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  background: #eb5635;
  padding: 15px 24px;
  border-radius: 35px;
}

/**/
.absolute__car {
  position: relative;
  width: 255;
}

.car__text {
  line-height: normal;
  position: absolute;
  bottom: 15px;
  padding: 32px;
}
.car__text h2 {
  font-size: 28px;
  letter-spacing: 0.59px;
  color: #4b4b4b;
  margin-bottom: 32px;
}

/**/
.absolute__solder {
  position: relative;
  width: 509px;
}

.solder__text {
  position: absolute;
  color: #fff;
  top: 120px;
  right: 45px;
  max-width: 170px;
  line-height: normal;
}
.solder__text h2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 22px;
}
.solder__text p {
  font-size: 17px;
  letter-spacing: 0.36px;
  opacity: 0.7;
  margin-bottom: 60px;
}
.solder__text .absolute__button {
  background: rgba(0, 0, 0, 0);
  border: 2px solid #fff;
}

@media (max-width: 1280px) {
  .absolute__container {
    flex-direction: column;
    align-items: center;
  }
  .absolute__container div {
    margin-bottom: 20px;
  }
  .absolute__container .absolute__bone {
    width: 80%;
  }
  .absolute__container .absolute__bone img {
    width: 100%;
    height: 550px;
  }
  .absolute__container .absolute__car {
    width: 50%;
  }
  .absolute__container .absolute__car img {
    object-fit: cover;
    width: 100%;
    height: 550px;
  }
  .absolute__container .absolute__car .car__text h2 {
    font-size: 36px;
  }
  .absolute__container .absolute__solder {
    width: 80%;
  }
  .absolute__container .absolute__solder img {
    width: 100%;
    height: 550px;
  }
}
@media (max-width: 760px) {
  .absolute__container {
    top: -20px;
  }
}
@media (max-width: 540px) {
  .absolute__container {
    top: -10px;
  }
  .absolute__container div {
    margin-bottom: 10px;
  }
  .absolute__container .absolute__bone {
    width: 80%;
  }
  .absolute__container .absolute__bone img {
    width: 100%;
    height: 350px;
  }
  .absolute__container .absolute__bone h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .absolute__container .absolute__bone p {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .absolute__container .absolute__bone .action, .absolute__container .absolute__bone .kids {
    font-size: 14px;
  }
  .absolute__container .absolute__bone .action span, .absolute__container .absolute__bone .kids span {
    font-size: 14px;
    padding: 3px;
  }
  .absolute__container .absolute__bone .kids {
    margin-bottom: 10px;
  }
  .absolute__container .absolute__button {
    font-size: 10px;
    padding: 5px 10px;
  }
  .absolute__container .absolute__car {
    width: 50%;
  }
  .absolute__container .absolute__car img {
    object-fit: cover;
    width: 100%;
    height: 350px;
  }
  .absolute__container .absolute__car .car__text {
    padding: 10px;
  }
  .absolute__container .absolute__car .car__text h2 {
    font-size: 13px;
  }
  .absolute__container .absolute__solder {
    width: 80%;
  }
  .absolute__container .absolute__solder img {
    width: 100%;
    height: 350px;
  }
  .absolute__container .absolute__solder .solder__text {
    top: 10px;
    left: 10px;
  }
}
/*====================================workers===============*/
.works {
  padding: 20px;
}

.works__container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  line-height: normal;
  letter-spacing: normal;
}
.works__container div {
  margin-right: 50px;
}
.works__container div:last-child {
  margin-right: 10px;
}
.works__container h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 17px;
}
.works__container p {
  color: #999999;
  font-size: 15px;
  font-style: italic;
}
.works__container .orange-text {
  color: orangered;
  font-weight: bold;
}

@media (max-width: 760px) {
  .works__container h2 {
    font-size: 25px;
  }
  .works__container p {
    font-size: 12px;
  }
}
/*========================SLIDER=============*/
/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
/*конкретный слайд*/
.slider {
  position: relative;
  padding: 0px 70px;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 80px;
}

.slider .slick-arrow {
  position: absolute;
  top: 20%;
  z-index: 10;
  font-size: 0;
}

.slider .slick-arrow.slick-prev {
  left: 10px;
  background: url(../image/icon/Slider-left.png) 0 0/100% no-repeat;
  width: 50px;
  height: 60px;
}

.slider .slick-arrow.slick-next {
  right: 10px;
  background: url(../image/icon/Slider-arowRight.png) 0 0/100% no-repeat;
  width: 50px;
  height: 60px;
}

.slider__item img {
  border: 3px solid transparent;
}

.slider__item img:hover {
  border: 3px solid orangered;
  cursor: pointer;
}

@media (max-width: 720px) {
  .slider__item img {
    max-width: 30px;
  }

  .slider .slick-arrow.slick-next {
    width: 25px;
    height: 30px;
  }

  .slider .slick-arrow.slick-prev {
    width: 25px;
    height: 30px;
  }
}
/*====================works2=============*/
.works2 {
  margin-top: 44px;
}

.works2__container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}
.works2__container div {
  margin-right: 60px;
}
.works2__container div:last-child {
  margin-right: 10px;
}
.works2__container h2 {
  text-align: center;
  font-size: 18px;
  color: #999999;
  font-style: italic;
}
.works2__container h2 span {
  color: #eb5635;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
}
.works2__container .works2__flex {
  display: flex;
  justify-content: space-between;
  margin-top: 86px;
}
.works2__container .works2__h3 h3 {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1.08px;
  margin-bottom: 18px;
}
.works2__container .works2__text p {
  color: #999999;
  font-size: 15px;
}

@media (max-width: 760px) {
  .works2__container .works2__h3 h3 {
    font-size: 22px;
  }

  .works2__text p {
    font-size: 12px;
  }
}
/*======================developers============*/
.developers {
  padding: 50px;
}

.developers__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.developers__left {
  background: #fff;
  padding: 30px 70px 20px 30px;
}
.developers__left h2 {
  font-size: 21px;
  color: #4b4b4b;
  letter-spacing: 0.45px;
  font-weight: bold;
}
.developers__left h3 {
  font-size: 15px;
  color: #b1b1b1;
  margin: 10px 0;
}
.developers__left h3 img {
  margin: 0 10px;
}
.developers__left h3 img:first-child {
  margin: 0 10px 0 0;
}
.developers__left p {
  font-size: 13px;
  color: #b1b1b1;
  letter-spacing: 0.28px;
}

.developers__button {
  background: #fff;
  border: 2px solid orangered;
  border-radius: 25px;
  padding: 10px 30px;
  text-transform: uppercase;
  margin-top: 20px;
}

.developers__right {
  background: #fff;
  padding: 30px 70px 20px 30px;
}
.developers__right h2 {
  font-size: 21px;
  color: #4b4b4b;
  letter-spacing: 0.45px;
  font-weight: bold;
}
.developers__right h3 {
  font-size: 15px;
  color: #b1b1b1;
  margin: 10px 0;
}
.developers__right h3 img {
  margin: 0 10px;
}
.developers__right h3 img:first-child {
  margin: 0 10px 0 0;
}
.developers__right p {
  font-size: 13px;
  color: #b1b1b1;
  letter-spacing: 0.28px;
}

@media (max-width: 1140px) {
  .developers__left, .developers__right {
    padding: 20px;
  }
  .developers__left h2, .developers__right h2 {
    font-size: 16px;
  }
  .developers__left h3, .developers__right h3 {
    font-size: 12px;
  }

  .developers__left {
    margin-right: 10px;
  }
}
@media (max-width: 540px) {
  .developers {
    padding: 10px;
  }

  .developers__left, .developers__right {
    padding: 5px;
  }
  .developers__left p, .developers__right p {
    font-size: 10px;
  }
}
/*=====================reading=========*/
.reading {
  padding: 20px;
}
.reading h2 {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -1.08px;
  margin-bottom: 20px;
}

.reading__container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.blog, .press, .tweets {
  flex-basis: 30%;
}

.blog__text {
  background: #fff;
  padding: 40px;
}
.blog__text .text1 {
  display: flex;
  align-items: center;
  font-size: 21px;
  color: #4b4b4b;
  letter-spacing: 0.45px;
  font-weight: bold;
  margin-bottom: 37px;
}
.blog__text .text1 img {
  margin-right: 20px;
}
.blog__text .text2 {
  display: flex;
  align-items: center;
  font-size: 21px;
  color: #4b4b4b;
  letter-spacing: 0.45px;
  font-weight: bold;
}
.blog__text .text2 img {
  margin-right: 20px;
}

.blog-date {
  font-size: 15px;
  color: #b1b1b1;
  font-style: normal;
  letter-spacing: 0.32px;
  margin-top: 10px;
}

.press__text {
  background: #fff;
  padding: 40px 0 20px 20px;
}
.press__text p {
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 0.45px;
  margin-bottom: 20px;
}
.press__text .helsinki {
  letter-spacing: 0.32px;
  font-size: 15px;
  font-weight: bold;
  color: #b1b1b1;
}
.press__text a {
  color: #eb5635;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.32px;
}

.tweets__text {
  background: #fff;
  padding: 40px 0 20px 20px;
}
.tweets__text p {
  font-size: 15px;
  letter-spacing: 0.32px;
  margin-bottom: 35px;
}
.tweets__text a {
  color: #59adeb;
}

.tweets__tweeter {
  margin-top: 20px;
  display: block;
}
.tweets__tweeter img {
  margin-right: 15px;
}

@media (max-width: 760px) {
  .reading {
    padding: 10px;
  }
  .reading h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .blog__text {
    padding: 15px;
  }
  .blog__text img {
    width: 70px;
  }
  .blog__text p {
    font-size: 16px;
  }

  .press__text {
    padding: 15px;
  }
  .press__text p {
    font-size: 16px;
  }

  .tweets__text {
    padding: 15px;
  }
  .tweets__text p {
    font-size: 12px;
    margin-bottom: 10px;
  }
}
@media (max-width: 540px) {
  .reading {
    padding: 10px;
  }
  .reading h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .reading__container {
    flex-wrap: wrap;
  }

  .blog, .press, .tweets {
    flex-basis: 70%;
    margin: 0 auto;
  }

  .blog__text {
    padding: 10px;
  }
  .blog__text img {
    width: 50px;
  }
  .blog__text p {
    font-size: 16px;
  }

  .press__text {
    padding: 10px;
  }
  .press__text p {
    font-size: 12px;
  }

  .tweets__text {
    padding: 10px;
  }
  .tweets__text p {
    font-size: 10px;
    margin-bottom: 10px;
  }
}
/*====================footer==========*/
.footer {
  font-size: 15px;
  font-weight: 500;
  color: #2e343b;
  padding: 20px;
}

.footer__container {
  max-width: 1300px;
  margin: 0 auto;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  border-bottom: 1px solid rgba(148, 141, 141, 0.267);
}
.footer__top .top__left {
  display: flex;
  align-items: center;
}
.footer__top .top__left div {
  margin-right: 20px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

@media (max-width: 760px) {
  .footer {
    font-size: 10px;
    padding: 12px;
  }

  img {
    width: 30px;
  }
}
@media (max-width: 540px) {
  .footer {
    font-size: 5px;
    padding: 8px;
  }

  img {
    width: 20px;
  }
}
