@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

/*===================body=============*/
body {
  font-family: "Open Sans";
}

/*===================header=============*/
/*contacts*/
.header__contacts {
  background-color: #4b4b4b;
  padding: 10px 20px;
}
.header__contacts a {
  color: #fff;
}

.contacts__container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts__feedback {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.contacts__feedback .contacts__call {
  margin-right: 10px;
}

.contacts__messengers {
  display: flex;
  flex-wrap: wrap;
}
.contacts__messengers div {
  margin-right: 5px;
}

/*logo*/
.header__logo {
  padding: 38px 0;
}

.logo__container {
  max-width: 215px;
  margin: 0 auto;
}

/*menu*/
.header__menu {
  background-image: linear-gradient(to top, #eeeeee 0%, #ffffff 100%);
  height: 45px;
  line-height: 45px;
}

.menu__container {
  max-width: 650px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto Slab";
}
.menu__container a {
  color: #343434;
}
.menu__container ul {
  display: flex;
  justify-content: space-between;
}
.menu__container ul li {
  flex: auto;
  text-align: center;
}
.menu__container ul li:hover {
  background-color: #4b4b4b;
}
.menu__container ul li:hover a {
  color: #fff;
}

@media (max-width: 720px) {
  .header__contacts {
    padding: 10px;
  }

  .contacts__messengers div img {
    width: 15px;
  }

  .header__logo {
    padding: 10px 0;
  }

  .menu__container {
    max-width: 500px;
    font-size: 12px;
  }
}
/*============================main============*/
.main {
  background: url(../image/Slider_Image.jpg);
  background-size: cover;
  position: relative;
  padding: 200px 0px 52px 45px;
}

/*slider*/
.slider {
  color: #fff;
}
.slider h2 {
  font-size: 36px;
  font-family: "Roboto Slab";
  font-weight: 700;
  display: block;
  max-width: 420px;
  padding: 7px 15px;
  margin-bottom: 13px;
  background: rgba(0, 0, 0, 0.7);
}
.slider p {
  font-size: 14px;
  display: block;
  max-width: 460px;
  background: rgba(0, 0, 0, 0.7);
  padding: 15px;
}

/*slick*/
/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
/*Конкретный слайд*/
.slider {
  position: relative;
  padding: 0px 150px;
}

.slider .slick-arrow {
  position: absolute;
  top: 10%;
  z-index: 10;
  font-size: 0;
  width: 100px;
  height: 100px;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url(../image/Left_arrow.png) 0 0 no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 30px;
  background: url(../image/Right_arrow.png) 0 0 no-repeat;
}

@media (max-width: 720px) {
  .main {
    padding: 100px 0px 32px 25px;
  }

  .slider .slick-arrow {
    width: 50px;
    height: 50px;
  }

  .slider .slick-arrow.slick-prev {
    left: 0;
    background: url(../image/Left_arrow.png) 50% no-repeat;
  }

  .slider .slick-arrow.slick-next {
    right: 10px;
    background: url(../image/Right_arrow.png) 50% no-repeat;
  }

  .slider {
    padding: 0px 70px;
  }
  .slider h2 {
    font-size: 20px;
  }
  .slider p {
    font-size: 12px;
  }
}
/*===========================content============*/
.content {
  padding: 30px;
  background: rgba(228, 219, 219, 0.705);
}
.content .content__container {
  display: flex;
  justify-content: space-between;
}

.content__left {
  width: 60%;
}

.row1 {
  display: flex;
  justify-content: space-between;
}

/*CONTENT__BLOCK*/
.content__block {
  max-width: 380px;
  border: 1px solid #d5d5d5;
  line-height: normal;
}

.content__image img {
  width: 100%;
}
.content__image p {
  font-size: 14px;
  color: #666666;
}

.content__text {
  background: #fff;
  padding: 12px;
  border-bottom: 1px solid #e3e3e3;
}
.content__text h2 {
  font-size: 30px;
  font-family: "Roboto Slab";
  margin-bottom: 13px;
}

.content__meta {
  margin-bottom: 16px;
}

/*like*/
.like {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #fff;
}

.like__left a {
  color: #343434;
  font-weight: 700;
}

.like__right {
  display: flex;
  align-items: center;
}

.like__liked button {
  margin: 0px 2px 0px 10px;
}

/*messengers*/
.content__messengers {
  display: flex;
}
.content__messengers div {
  flex-grow: 1;
}
.content__messengers div img {
  width: 100%;
}

/*content-left*/
/*================row2========*/
.row2 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.row2 audio {
  width: 100%;
}

.row2__block1 {
  margin: 0 0 35px 0;
}

.row2__block4 {
  position: relative;
  margin: 65px 0 65px 0;
  font-style: italic;
}
.row2__block4 .content__text {
  padding: 35px 10px 10px 10px;
}

.link-icon {
  position: absolute;
  left: 40%;
  top: -10%;
}
.link-icon .icon1 {
  max-width: 66px;
}

/*content__right*/
.content__right {
  margin-right: 25px;
}

.search-form {
  margin: 35px 0px;
}
.search-form input {
  width: 250px;
  height: 40px;
  margin-right: 12px;
  padding: 5px;
}
.search-form button {
  background-color: #4b4b4b;
  color: #fff;
  font-style: 18px;
  padding: 10px 15px;
}

.right-blocks {
  margin: 30px 0 0 0;
}

.blocks-item {
  display: flex;
  font-family: "Roboto slab";
  max-width: 337px;
  margin-bottom: 35px;
}
.blocks-item img {
  margin-right: 15px;
}
.blocks-item h2 {
  font-size: 18px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 10px;
}
.blocks-item p {
  font-size: 14px;
}
.blocks-item:last-child {
  margin-bottom: 70px;
}

.categories {
  margin: 54px 0 0 0;
}
.categories img {
  margin-bottom: 34px;
}
.categories a {
  color: #333333;
  font-weight: bold;
}
.categories ul li {
  margin-bottom: 10px;
}

@media (max-width: 1140px) {
  .content {
    padding: 30px;
    background: rgba(228, 219, 219, 0.705);
  }
  .content .content__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .content__left {
    width: 100%;
  }

  .content__right {
    max-width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 960px) {
  .content__block {
    max-width: 280px;
  }
}
@media (max-width: 720px) {
  .content__block {
    max-width: 220px;
  }
  .content__block h2 {
    font-size: 18px;
  }
  .content__block p {
    font-size: 12px;
  }

  .content__meta img {
    max-width: 100%;
  }
}
@media (max-width: 540px) {
  .content {
    padding: 5px;
  }

  .content__block {
    max-width: 180px;
  }
  .content__block h2 {
    font-size: 14px;
  }
  .content__block p {
    font-size: 8px;
  }

  .content__right .right-tittle img {
    width: 100%;
  }

  .right-blocks h2 {
    font-size: 18px;
  }
  .right-blocks p {
    font-size: 12px;
  }

  .latest__image img {
    max-width: 100%;
  }

  .categories img {
    max-width: 100%;
  }
}
/*========================button=========*/
.button {
  background: #ece5e5;
  padding: 35px;
}
.button button {
  margin-right: 15px;
}
.button .button__menu {
  max-width: 500px;
  margin: 0 auto;
}

@media (max-width: 540px) {
  .button {
    padding: 10px;
  }
  .button button {
    margin-right: 5px;
  }
}
/*========================widget==========*/
.widget {
  padding: 30px 0;
  color: #333333;
  font-weight: 400;
  line-height: normal;
}

.widget__container {
  max-width: 1140px;
  margin: 0 auto;
}

.widget__body {
  display: flex;
  justify-content: space-between;
}

.widget__item {
  max-width: 240px;
}
.widget__item h2 {
  font-size: 24px;
  font-family: "Roboto Slab";
  margin-bottom: 14px;
}
.widget__item p {
  font-size: 14px;
}

@media (max-width: 1140px) {
  .widget {
    padding: 15px;
  }

  .widget__item h2 {
    font-size: 20px;
  }
  .widget__item p {
    font-size: 12px;
  }

  .widget__body {
    flex-wrap: wrap;
  }

  .widget__item {
    max-width: 45%;
    margin: 12px;
  }
}
@media (max-width: 540px) {
  .widget__item h2 {
    font-size: 16px;
  }
  .widget__item p {
    font-size: 8px;
  }

  .widget__item {
    max-width: 40%;
    margin: 5px;
  }
}
/*================footer============*/
.footer {
  padding: 0 20px 20px 20px;
  background-color: #4c4b4c;
}

.back {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.footer__messengers {
  width: 270px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 40px;
}

.footer__menu {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 51px;
}
.footer__menu ul {
  display: flex;
  justify-content: space-between;
}
.footer__menu a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.footer__copyright {
  max-width: 500px;
  margin: 0 auto;
}

@media (max-width: 540px) {
  .footer__menu ul {
    margin-bottom: 10px;
  }
  .footer__menu a {
    font-size: 10px;
  }

  .footer__copyright img {
    max-width: 100%;
  }
}
